@import url(http://fonts.googleapis.com/css?family=Indie+Flower|Rock+Salt);

body {
  text-align: center;
  font-family:"Rock Salt";
  background: rgb(262, 205, 30 );
}

header{
  padding: 40px 40px;
  background:rgb(232, 185, 0);
}

section1 {
  text-align: left;
}
ul{
  width: 200px;
  margin:0 auto;
  text-align: left;
}
